pkgbase = claw-msi-wmi-platform-dkms
	pkgdesc = SteamOS MSI WMI TDP, profile, fan, and charge controls for MSI Claw 8 EX AI+
	pkgver = 0.1.1
	pkgrel = 2
	url = https://github.com/stevedamnvan/msi-claw-8-ex-linux
	install = claw-msi-wmi-platform.install
	arch = x86_64
	license = GPL-2.0-or-later
	depends = dkms
	depends = clang
	optdepends = linux-cachyos-rc-headers: headers for the tested CachyOS RC kernel
	optdepends = linux-cachyos-headers: headers for the stable CachyOS kernel
	optdepends = linux-headers: headers for the standard Arch kernel
	optdepends = steamos-manager: Steam gaming-mode TDP and GPU-clock integration
	source = msi-wmi-platform.c::https://raw.githubusercontent.com/evlaV/linux-integration/002ae467a84c83b07727e38511d3ce9c6ce3b603/drivers/platform/x86/msi-wmi-platform.c
	source = firmware_attributes_class.h::https://raw.githubusercontent.com/evlaV/linux-integration/002ae467a84c83b07727e38511d3ce9c6ce3b603/drivers/platform/x86/firmware_attributes_class.h
	source = Makefile
	source = dkms.conf
	source = claw-platform-controls-status
	source = README.md
	sha256sums = 42a84398417c375272444f0415cfc3228d03299d86d442fadbc1bb85a35f7437
	sha256sums = 1b12e8397c0f0b0eb48e8fada57a38b0bc8c795fc2f608cc040d54d373650672
	sha256sums = b6cc64af7495d7b44cf4b7c66048eadeec73246fff20c4e983937a58cc7f96a0
	sha256sums = a6f599ae82aa5461f38b088b2aad593090a8cf61090b8f02208296a7face4c40
	sha256sums = 028d595c378e96089e28c0805beb0235e2b336da7b96e1aaa0334e5c6affc339
	sha256sums = 78a4dcf40d2952aa068564683cb965421a082798c5348e3a47d6d932383d1a2c

pkgname = claw-msi-wmi-platform-dkms
