[Unit]
Description=MSI Claw MangoHud Intel power and temperature sensor access
ConditionPathExists=/sys/class/dmi/id/board_name
After=systemd-modules-load.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/lib/msi-claw-8-ex-linux/claw-mangohud-rapl-access
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
